:root {
    --largura-maxima: 1440px;
    --altura-maxima: 2560px;

    --fonte-titulos: 'Poppins', sans-serif;
    --peso-fonte-titulos: 600; 

    --fonte-corpo: 'Open Sans', sans-serif;
    --peso-fonte-corpo: 400;

    --cor-fundo-hover: hsl(300, 69%, 71%);
}